<%- model_class = Companium -%>

<div class="page-header">
  <h1> </h1>
</div>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", "/primaris"  %></li>
        <li><%= link_to "Usuarios", "/usuarios"  %></li>
        <li><%= link_to "Tweets", "/tweets"  %></li>
        <li><%= link_to "Reclamos", "/reclamos"  %></li>
        <li><%= link_to "Filtros", "/filtros"  %></li>
        <li><%= link_to "Diccionarios", "/diccionarios"  %></li>
        <li><%= link_to "Compañias", "/compania"  %></li>
      </ul>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre_c) %></th>
      <th><%= model_class.human_attribute_name(:cuenta) %></th>
      <th><%= model_class.human_attribute_name(:twi) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @compania.each do |companium| %>
      <tr>
        <td><%= link_to companium.id, companium_path(companium) %></td>
        <td><%= companium.nombre_c %></td>
        <td><%= companium.cuenta %></td>
        <td><%= companium.twi %></td>
        <td><%=l companium.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_companium_path(companium), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      companium_path(companium),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_companium_path,
            :class => 'btn btn-primary' %>
