<!DOCTYPE html>
<html lang="en"><div class="page-header">
  <h1> </h1>
</div>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", "/primaris"  %></li>
        <li><%= link_to "Usuarios", "/usuarios"  %></li>
        <li><%= link_to "Tweets", "/tweets"  %></li>
        <li><%= link_to "Reclamos", "/reclamos"  %></li>
        <li><%= link_to "Filtros", "/filtros"  %></li>
        <li><%= link_to "Diccionarios", "/diccionarios"  %></li>
        <li><%= link_to "Compa単ias", "/compania"  %></li>
      </ul>
    </div>
  </div>
</div>


</body>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Bootstrap Admin Theme</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- Timeline CSS -->
  <link href="css/plugins/timeline.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/sb-admin-2.css" rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="css/plugins/morris.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<div id="wrapper">

  <!-- Navigation -->

  <div id="page-wrapper">
    <!-- /.row -->
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-8">
        <!-- /.panel -->
          <!-- /.panel-heading -->

        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Datos Observatorio
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <ul class="timeline">
              <li>
                <div class="timeline-badge"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge info"><i class="fa fa-save"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                    <hr>

                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">

        <!-- /.panel -->

        <!-- /.panel -->
        <div class="chat-panel panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-comments fa-fw"></i>
            Empresas de telecomunicacion
          </div>
          <!-- /.panel-heading -->
          <% @mov.each do |element| %>
          <div class="panel-body">
            <ul class="chat">
              <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://pbs.twimg.com/profile_images/891753438/icono_movistar_normal.jpg" alt="User Avatar" class="img-circle" />
                                    </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">Movistar</strong>
                    <small class="pull-right text-muted">
                    </small>
                  </div>
                  <p>
                    La cantidad de reclamos que lleva a la fecha la compa単ia Movistar es de:
                    <%= element %>
                  </p>
                </div>
              </li>

          <% end %>
          <% @cla.each do |element| %>
              <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://1.bp.blogspot.com/_vTcN-VAH0nA/TL6LuJGgOaI/AAAAAAAAABw/7eBGaYuHcno/S260/logo-claro.png" alt="User Avatar" class="img-circle" />
                                    </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <small class=" text-muted">
                    <strong class="pull-right primary-font">Claro</strong>
                  </div>
                  <p>
                    La cantidad de reclamos que lleva a la fecha la compa単ia Claro es de:
                    <%= element %>
                  </p>
                </div>
              </li>
          <% end %>
          <% @entel.each do |element| %>
              <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p48x48/10351172_10152392571121125_8216536121963217957_n.png?oh=ff5ccd23efd329cb90c8c0017aa5c2d3&oe=550EF70D&__gda__=1427053832_dbd518ee5eb3f1bf9e31da94d961b8ba" alt="User Avatar" class="img-circle" />
                                    </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">Entel</strong>
                    <small class="pull-right text-muted">
                  </div>
                  <p>
                    La cantidad de reclamos que lleva a la fecha la compa単ia Entel es de:
                    <%= element %>
                  </p>
                </div>
              </li>
          <% end %>
            </ul>
          </div>
          <!-- /.panel-body -->

          <!-- /.panel-footer -->
        </div>
        <!-- /.panel .chat-panel -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="js/plugins/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="js/plugins/morris/raphael.min.js"></script>
<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/morris/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/sb-admin-2.js"></script>

</body>

</html>
