<!DOCTYPE html>
<html lang="en"><div class="page-header">
  <h1> </h1>
</div>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", "/primaris"  %></li>
        <li><%= link_to "Usuarios", "/usuarios"  %></li>
        <li><%= link_to "Tweets", "/tweets"  %></li>
        <li><%= link_to "Reclamos", "/reclamos"  %></li>
        <li><%= link_to "Filtros", "/filtros"  %></li>
        <li><%= link_to "Diccionarios", "/diccionarios"  %></li>
        <li><%= link_to "Compañias", "/compania"  %></li>
      </ul>
    </div>
  </div>
</div>


</body>



<body>
<div id="wrapper">

  <!-- Navigation -->

  <div id="page-wrapper">
    <!-- /.row -->
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-8">
        <!-- /.panel -->
          <!-- /.panel-heading -->

        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Datos Observatorio
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <ul class="timeline">
              <li>
                <div class="timeline-badge"><i class="fa fa-bomb"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Peor Compañia</h4>
                  </div>
                  <% @dat1.each do |element| %>
                  <div class="timeline-body">
                    <p>La compañia con mayor cantidad de reclamos corresponde a:   <%= element %>
                    </p>
                  </div>
                  <% end%>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Mejor compañia</h4>
                  </div>
                  <% @dat2.each do |element| %>
                  <div class="timeline-body">
                    <p>La mejor compañia, es decir, la que tiene menos reclamos correponde a:    <%= element %></p>
                  </div>
                  <% end%>
                </div>
              </li>
              <li>
                <div class="timeline-badge danger"><i class="fa fa-bug"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Boleta o servicio?</h4>
                  </div>
                  <% @dat3.each do |element| %>
                  <div class="timeline-body">
                    <p>El tipo de reclamo mas frecuente es:        <%= element %></p>
                  </div>
                  <% end%>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge danger"><i class="fa fa-bullhorn"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Celular o fijo?</h4>
                  </div>
                  <% @dat4.each do |element| %>
                  <div class="timeline-body">
                    <p>El servicio peor evaluado, o con mas reclamos es:         <%= element %></p>
                  </div>
                  <% end%>
                </div>
              </li>
              <li>
                <div class="timeline-badge info"><i class="fa fa-fire"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Cantidad de reclamos</h4>
                  </div>
                  <% @dat5.each do |element| %>
                  <div class="timeline-body">
                    <p>El usuario con mas reclamos es: <%= element %></p>
                    <hr>
                  </div>
                  <% end%>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <div class="timeline-badge danger"><i class="fa fa-book"></i>
                    </div>
                    <h4 class="timeline-title">Diccionario</h4>
                  </div>
                  <% @dat6.each do |element| %>
                  <div class="timeline-body">
                    <p>Termino mas usado a la hora de filtrar tweets: <%= element %></p>
                  </div>
                  <% end%>
                </div>
              </li>

            </ul>
          </div>
          <!-- /.panel-body -->

<div class="imageholder pull-rigth">

		<span class="image pull-rigth">
                                        <img src="http://nescafeadictos.bligoo.com/media/users/17/870666/images/public/171837/reclamos.jpg?v=1321054812028" class="image" /></span>
</div>
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">

        <!-- /.panel -->

        <!-- /.panel -->
        <div class="chat-panel panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-comments fa-fw"></i>
            Empresas de telecomunicacion
          </div>
          <!-- /.panel-heading -->
          <% @mov.each do |element| %>
          <div class="panel-body">
            <ul class="chat">
              <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://pbs.twimg.com/profile_images/891753438/icono_movistar_normal.jpg" alt="User Avatar" class="img-circle" />
                                    </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">Movistar</strong>
                    <small class="pull-right text-muted">
                    </small>
                  </div>
                  <p>
                    La cantidad de reclamos que lleva a la fecha la compañia Movistar es de:
                    <%= element %>
                  </p>
                </div>
              </li>

          <% end %>
          <% @cla.each do |element| %>
              <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://1.bp.blogspot.com/_vTcN-VAH0nA/TL6LuJGgOaI/AAAAAAAAABw/7eBGaYuHcno/S260/logo-claro.png" alt="User Avatar" class="img-circle" />
                                    </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <small class=" text-muted"></small>
                    <strong class="pull-right primary-font">Claro</strong>
                  </div>
                  <p>
                    La cantidad de reclamos que lleva a la fecha la compañia Claro es de:
                    <%= element %>
                  </p>
                </div>
              </li>
          <% end %>
          <% @entel.each do |element| %>
              <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p48x48/10351172_10152392571121125_8216536121963217957_n.png?oh=ff5ccd23efd329cb90c8c0017aa5c2d3&oe=550EF70D&__gda__=1427053832_dbd518ee5eb3f1bf9e31da94d961b8ba" alt="User Avatar" class="img-circle" />
                                    </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">Entel</strong>
                    <small class="pull-right text-muted"></small>
                  </div>
                  <p>
                    La cantidad de reclamos que lleva a la fecha la compañia Entel es de:
                    <%= element %>
                  </p>
                </div>
              </li>
          <% end %>
            </ul>
          </div>
          <!-- /.panel-body -->
                <div class="imageholder pull-left">
		<span class="image pull-left">
                                        <img src="http://puu.sh/dv9I8/b4ec330516.jpg" class="img-circle" /></span>
</div>
          <!-- /.panel-footer -->
        </div>
        <!-- /.panel .chat-panel -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>
</html>
